extends ../layout/index 
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Proin fringilla vestibulum justo, eu congue libero varius ac. Praesent placerat varius urna quis sodales. Aliquam non ante pharetra, cursus lacus sit amet, porta dui. Pellentesque auctor, felis a varius ullamcorper, diam arcu fermentum erat, ac cursus quam lectus tempus metus.
                p Morbi pulvinar, dui eget feugiat pretium, lorem sapien mollis leo, vestibulum consectetur sapien mi sit amet velit. Donec consectetur sem ut viverra blandit. Praesent rhoncus leo eu nisi aliquam, sed venenatis neque egestas. Nulla a luctus nulla. Mauris dictum tristique dapibus. Nulla consectetur id ante sit amet egestas
                p  Fusce mi ipsum, molestie vitae faucibus eu, scelerisque nec enim. Pellentesque ut ipsum eu risus porttitor semper. Sed in justo at sem consectetur molestie ac non mi. Phasellus nibh leo, luctus at est malesuada, placerat pellentesque libero. Ut ultricies blandit venenatis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p uspendisse a sodales justo. Duis posuere neque nec gravida hendrerit. Nam odio purus, cursus vitae dictum vel, porta dapibus nisi.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Duis condimentum, nisi ut scelerisque rhoncus, urna eros aliquam mauris, eu placerat felis enim vel eros. Suspendisse potenti.
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Duis condimentum, nisi ut scelerisque rhoncus, urna eros aliquam mauris, eu placerat felis enim vel eros

